<p>Hi <%= body.firstName %>,</p>
<p>You recently requested to reset your password for your <%= body.frontName %><br/> account.MyBelongings  Click the button below to reset it.</p>
Click<a href="<%= body.link %>">here</a> to reset your password.</p>
<p>If your did not requested a password reset, please ignore this email or<br/>
reply to let us know.a  This password reset is only valid for the next 30 <br/>minutes.</p>
<p>Thanks,</p>
<p><%= body.frontName %> Team
<p>If you're having trouble clicking the password reset button, copy and paste the URL below<br/>
into your web browser.</p>
<p><a href="<%= body.link %>"><%= body.link %></a></p>
<p>Best Regards</p>
<p> <%= body.frontName %> Team
